@import "../../styles.scss";

$padding-main: 70px 150px;
$font-size-header: 30px;
$logo-size: 40px;

main { padding: $padding-main; }

a { @include flex-and-align; text-decoration: none; }

li {
  text-decoration: none;
  margin-left: 20px;
}

ul {
  @include flex-and-align;
  list-style: none;
}

.header-logo {
  width: $logo-size;
  height: $logo-size;
}

.header-title { font-size: $font-size-header; }

#domain-name {
  @include flex-and-align;

  > div:first-child { margin-right: 0.5vw; }

  @media screen and (max-width: 760px) { display: none; }
}

#header-nav {
  @include flex-and-align;
  justify-content: space-between;
}

#header-nav-links {
  @media screen and (max-width: 760px) {
    margin-left: -10px;
  }
}
