<main>
  <div id="header-nav" class="black-section white">
    <div class="inter-300">
      <a href="https://elouann.space" class="header-title white">elouann.space</a>
    </div>
    <div>
      <ul>
        <li>
          <a href="https://github.com/elouannh" target="_blank">
            <img class="header-logo" [src]=githubMark alt="">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/pvndvhe" target="_blank">
            <img class="header-logo" [src]=xMark alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
