<main>
  <div id="header-nav" class="black-section white">
    <div id="domain-name" class="header-title inter-300">
      <div><a href="https://elouann.space" class="white">elouann.space</a></div>
      <div class="dark-chips"><p>1.0</p></div>
    </div>
    <div id="header-nav-links">
      <ul>
        <li>
          <a href="https://github.com/elouannh" target="_blank">
            <img class="header-logo" [src]=githubMark alt="">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/pvndvhe" target="_blank">
            <img class="header-logo" [src]=xMark alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
