main#app-root-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 75vw;
  margin: 75px auto auto;
}

main > *:not(:first-child) {
  margin-bottom: 20vh;
}
