<div (mousemove)="onMouseMove($event)" (mousedown)="onMouseClick($event)" [style.background]="backgroundStyle">
  <app-header></app-header>
  <main id="app-root-main">
    <app-about-me></app-about-me>
    <span class="divider"></span>
    <app-experiences></app-experiences>
    <app-projects></app-projects>
    <app-stuff></app-stuff>
  </main>
  <app-contact></app-contact>
  <button style="position: fixed; bottom: 0;" onclick="window.location.href = '192.168.4.21:4200';">refresh</button>
</div>
