@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --gunmetal: #092327;
  --dark-slate-gray: #0b5351;
  --light-sea-green: #00a9a5;
  --air-force-blue: #4e8098;
  --light-sky-blue: #90c2e7;
  --black: #141414;
  --dark: #252525;
  --white: #ffffff;

  --spinnaker: "Spinnaker", "Arial", serif;
  --bebas-neue: "Bebas Neue", "Arial", serif;
  --inter: "Inter", "Helvetica", sans-serif;
  --fira-code: "Fira Code", "Courier New", monospace;

  --paragraph-font-size: 24px;
  --paragraph-font-spacing: 1px;
}

.white, .white > * { color: var(--white); }

.black-background { background-color: var(--black); }
.dark-background { background-color: var(--dark); }

@mixin spinnaker { font-family: var(--spinnaker); }
@mixin bebas-neue { font-family: var(--bebas-neue); }
@mixin inter { font-family: var(--inter); }
@mixin fira-code { font-family: var(--fira-code); }

@mixin flex-and-align { display: flex; align-items: center; }
@mixin flex-and-align-start { display: flex; align-items: start; }
@mixin flex-and-align-end { display: flex; align-items: end; }

$inter-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;
$fira-code-weights: 300, 400, 500, 600, 700;

.spinnaker-400 {
  @include spinnaker;
  font-weight: 400;
}
.bebas-neue-400 {
  @include bebas-neue;
  font-weight: 400;
}
@each $weight in $inter-weights {
  .inter-#{$weight} {
    @include inter;
    font-weight: $weight;
  }
}
@each $weight in $fira-code-weights {
  .fira-code-#{$weight} {
    @include fira-code;
    font-weight: $weight;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  user-select: none;
}

.cursor-light-on {
  cursor: url('assets/cursors/white.png'), auto;
}

.cursor-light-off {
  cursor: url('assets/cursors/purple.png'), auto;
}

.dark-chips {
  @include fira-code;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  background-color: var(--dark);
  font-size: 20px;
}

.main-title {
  @include bebas-neue;
  color: var(--white);
  font-size: 140px;
  letter-spacing: 10px;

  @media screen and (max-width: 760px) { font-size: 20vw; }
}

.section-title {
  @include bebas-neue;
  color: var(--white);
  font-size: 90px;
  letter-spacing: 10px;

  @media screen and (max-width: 760px) { font-size: 9vw; }
}

.section-paragraph {
  @include inter;
  color: var(--white);
  font-size: var(--paragraph-font-size);
  letter-spacing: var(--paragraph-font-spacing);

  @media screen and (max-width: 760px) { font-size: 3vw; }
}

.code-line {
  @include fira-code;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  background-color: var(--dark);
  font-size: var(--paragraph-font-size);
  letter-spacing: var(--paragraph-font-spacing);

  @media screen and (max-width: 760px) { font-size: 3vw; }
}

.divider {
  height: 10px;
  width: 40vw;
  border-bottom: 1px solid rgba(200, 200, 200, 0.25);
}
