@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

:root {
  --gunmetal: "#092327";
  --dark-slate-gray: "#0b5351";
  --light-sea-green: "#00a9a5";
  --air-force-blue: "#4e8098";
  --light-sky-blue: "#90c2e7";
  --dark: "#252525";
  --white: "#ffffff";

  --spinnaker: "Spinnaker", "Arial", serif;
  --inter: "Inter", "Helvetica", sans-serif;
  --noto-sans: "Fira Code", "Courier New", monospace;
}

.main-title {
  font-family: var(--spinnaker);
  color: var(--gunmetal);
}
